$title-color: hsl(125, 49%, 55%);

$burple :#2a244cda;
$oransh :#43240ad6;
$whajt :#fefefed6;
$blak: #090909f6;


// background ??? -----------
body {
    background: linear-gradient(to right, rgba(60, 2, 177, 0.095), rgba(244, 151, 1, 0.1));
}

// html body {
//     background-color: $whajt;
//     margin: 0;
// }


.wrappy {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.044);
}



h1 {
    text-align: center;
}

.titele {
    text-align: center;
    color: $blak;
}

.title {
    text-align: center;
    color: $whajt;
    margin: auto;
}

.bilden {

    height: 100%;
    width: 100%;
}

h1.title {

    font-family: 'Source Sans Pro', sans-serif;
}

p.title {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    
}



.wrappy {


    .title {
        color: $whajt;
    }
}


select {
    flex-basis: 600px;
    width: 700px;
}




.kolera {}

//  -----------

.kolera>div {
    border: #dfdfe211 groove 1px;
    flex-wrap: wrap;
    display: flex;
    gap: 5%;
    margin: 2%;
    justify-content: center;



    .content {
        margin-bottom: 11rem;

        button {
            margin: 2px;
            width: 100%;
        }

        .buy {
            color: white;
            background-color: rgba(42, 8, 86, 0.807);

            &:hover {
                background-color: rgba(87, 20, 174, 0.807);

            }
        }

        .dropdown-content {
            text-align: left;
        }
    }

    div {
        border-radius: 20px;
        text-align: center;
        justify-content: center;

        div {
            border: none;
        }
    }

    .title {
        font-weight: 500;
        color: rgb(18, 11, 27);
    }

    .subtitle {
        font-weight: 400;
        color: rgb(83, 83, 84);
    }
}

.kolera.produkter {

    .title {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    div.content {
        justify-content: start;
        text-align: left;

        title {
            text-align: left;
        }
    }
}


.wrappy.about,
.producter,
.referenser,
.kontakt {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgba(74, 68, 68, 0.636);

    .title {}
}

.modal-content {
    label {
        color: white;
    }
}

.producter {
    background: linear-gradient(to top, $burple , $oransh),
        url('../media/6.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.referenser {
    background: linear-gradient(to top, $burple , $oransh), url(../media/2.jpg) center center;
    background-size: cover;
}

.kontakt {
    background: linear-gradient(to top, $burple , $oransh), url(../media/kontor.jpg) center center;
    background-size: cover;
}

.about {
    background: linear-gradient(to top, #2d274aba, #2f2138cc),
        url('../media/6.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-menu {
    .navbar-item {
        margin: auto;
    }
}

// section.kontakta {
//     display: flex;
//     border: rgb(124, 8, 8) 4px dotted;
//     justify-content: center;

//     div.orkar-inte {
//         width: 100%;
//         max-width: 600px;
//         border: green 5px dotted;
//     }
// }

div.referens {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;

    div.objekt {
        z-index: 1;
        background-color: rgb(194, 192, 192);
        margin-bottom: 1rem;
        margin: 5px;
        max-width: 1280px;
        min-height: 200px;

        .review-person {
            p {
                width: 50%;
                display: inline;
                margin: auto;
            }
        }

        .user-message {
            background-color: rgb(227, 227, 227);
            min-height: 50px;
            text-align: left;
        }
    }

}


.current-page {
    text-decoration: underline $oransh;
    // text-shadow: 0.5px 0.5px $oransh;
}

.hejsan {
    text-align: center;
}

// .profile-p {
//     width: 100%;
// }

.testar {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    background: rgba(5, 5, 5, 0.756);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(2px);

    .start-stuff {
        margin: auto;
        margin-top: 400px;
        max-width: 500px;
        text-align: center;
    }
}

footer {

    div {
        z-index: 333;
        background-color: $blak;
        color: white;
        text-align: center;
        width: 100%;
    }

    a,
    li {
        color: $whajt;
    }
}

nav {
    .navbar-burger {
        margin-top: 10px;
        border: rgba(0, 0, 0, 0.047) 1px;
        border-style: groove;
        border-radius: 1px;
        height: 66px;
        width: 66px;

        span {
            height: 2px;
            width: 30px;
        }
    }

    .navbar-item img {
        max-height: 5rem;
    }
}

p.rofl {
    color: black;
}

video {
    height: 100%;
    width: 100%;
}

.spacer {
    height: 300px;

    .title {
        text-align: left;
    }
}

.field.is-grouped {
    justify-content: center;
}

div.container.formen {
    margin-bottom: 1rem;
}



@media screen and (min-width: 1408px),
(min-width: 1200px) {
    .kolera div {}

    div.container.formen {
        max-width: 700px;
    }



}